.main {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 260px;
  background-color: white;
  border-radius: 15%;
  border: 3px solid #6495ed;
  text-decoration: none;
}
.main:hover {
  border: 3px solid plum;
}

.CardImg {
  width: 194px;
  height: 185px;
  border-radius: 25%;
}
.title {
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(56, 56, 56);
}
.price {
  color: rgb(56, 56, 56);
  width: auto;
  margin-top: 8px;
  margin-left: 25px;
}
.form {
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
}
.start {
  display: flex;
  justify-content: space-around;
}
.prevPrice {
  color: #6495ed;
  text-decoration: line-through;
  text-decoration-color: black;
  opacity: 0.8;
}
.button {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 450px) {
  .start {
    justify-content: space-between;
    min-width: 403px;
  }
}
